<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raywenderlich.cheese">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheddarCheese"
            android:label="@string/title_activity_cheddar_cheese"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SwissCheese"
            android:label="@string/title_activity_swiss_cheese"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MozzarellaCheese"
            android:label="@string/title_activity_mozzarella_cheese"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoudaCheese"
            android:label="@string/title_activity_gouda_cheese"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>